img {
  width: 60%;
  margin: 0 auto;
  display: block;
  @media screen and (max-width: 960px) {
    width: 100%;
  }
}

.container {
  box-shadow: rgba(0, 0, 0, 0.04) 0px 1px 5px 0px;
    margin: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(238, 238, 238);
    border-image: initial;
    border-radius: 3px;
}

.navigation {
  user-select: none;
  white-space: nowrap;
  width: 100%;
  padding: 0px;
  margin: 0px;
  border-bottom: 1px solid rgb(238, 238, 238);
  overflow: auto;
}

.fence {
  display: none;
  }
  
  .label {
    }